.profile__information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media (max-width: 540px){
    .profile__information{
        flex-direction: column;
    }
}