.profile__btn-edit{
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    margin-left: 17px;
    background-color: #000;
    background-image: url(../../../images/Vector.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.profile__btn-edit:hover{
    opacity: 0.6;
}
@media (max-width: 540px){
    .profile__btn-edit{
        width: 18px;
        height: 18px;
    }
}