.profile__intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    max-width: 336px;
}

@media (max-width: 540px){
    .profile__intro{
        margin: 0;
        justify-content: center;
        align-items: center;
    }
}