.element__btn-delete{
    position: absolute;
    background-image: url(../../../images/Trashcan.svg);
    width: 18px;
    height: 0px;
    top: 18px;
    right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    opacity: 0;
}